:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");

  --accent-color: #ff8dcb;
  --accent-color-transparent: rgb(50 49 45 / 0.4);

  --main-text-color: #353430;
  --heading-color: #353430;
  --decor-color: #353430;
  --button-color: #353430;
  --title-color: #ffc2e6;
  --title-decor-color: #353430;
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");

    --accent-color: #ff8dcb;
    --accent-color-transparent: rgb(50 49 45 / 0.4);

    --main-text-color: #353430;
    --heading-color: #353430;
    --decor-color: #353430;
    --button-color: #353430;
    --title-color: #ffc2e6;
    --title-decor-color: #353430;
  }

  :root:not(.theme-dark) .header__rec {
    display: none;
  }
}